@charset "UTF-8";
/* ====================
Переменные шрифтов в SCSS
*/
body {
  font-family: Roboto, sans-serif;
  color: #181920;
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.typography__flex-container {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.typography__header {
  position: fixed;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  z-index: 10;
}

.header__navigation {
  position: relative;
  box-sizing: border-box;
  width: 250px;
  margin: 0;
  padding: 0;
  background-color: rgba(242, 242, 243, 0.9);
}

.header__navigation-logo {
  position: fixed;
  box-sizing: border-box;
  z-index: 1;
  width: 250px;
  padding: 30px;
  background-color: rgba(242, 242, 243, 0.9);
}

.header__navigation-menu {
  padding: 120px 30px 30px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header__navigation-menu-item {
  display: block;
  font-size: 20px;
  line-height: 30px;
  color: #181920;
}

.header__navigation-menu-item:hover {
  color: rgba(24, 25, 32, 0.75);
}

.header__navigation-menu-item:focus {
  color: #2d52da;
}

.header__navigation-menu-item--current {
  display: block;
  font-size: 20px;
  line-height: 30px;
  color: #2d52da;
}

.header__navigation-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 5px;
}

.header__navigation-item {
  display: block;
  font-size: 17px;
  line-height: 25px;
  margin-bottom: 5px;
  color: rgba(24, 25, 32, 0.5);
}

.header__navigation-item:hover,
.header__navigation-item:focus {
  color: rgba(24, 25, 32, 0.3);
}

.typography__main {
  position: relative;
  margin-left: 250px;
  padding: 80px 30px;
}

.typography__main-header {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-bottom: 80px;
  margin-bottom: 80px;
  border-bottom: 1px solid rgba(24, 25, 32, 0.1);
}

.typography__header-headline {
  padding: 0;
  margin: 0;
  width: 683px;
  font-size: 90px;
  line-height: 90px;
  font-weight: 700;
  margin-bottom: 30px;
}

.typography__header-subtitle {
  width: 683px;
  font-size: 20px;
  line-height: 30px;
}

.typography__tittle-style {
  margin-bottom: 40px;
}

.typography__tittle-style-table {
  display: flex;
  flex-direction: column;
}

.typography__tittle-style-headline {
  align-self: flex-start;
  box-sizing: border-box;
  padding: 0 15px;
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
  margin-bottom: 30px;
}

.typography__tittle-style-h1 {
  box-sizing: border-box;
  min-height: 90px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.typography__tittle-style-h2 {
  box-sizing: border-box;
  min-height: 90px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.typography__tittle-style-h3 {
  box-sizing: border-box;
  min-height: 90px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.typography__tittle-style-name {
  box-sizing: border-box;
  width: 356px;
  padding: 0 15px;
  font-size: 20px;
  line-height: 30px;
  color: rgba(24, 25, 32, 0.5);
}

.typography__tittle-h1 {
  box-sizing: border-box;
  width: 713px;
  padding: 0 15px;
  font-size: 90px;
  line-height: 90px;
  letter-spacing: -2px;
  font-weight: 700;
}

.typography__tittle-h2 {
  box-sizing: border-box;
  width: 713px;
  padding: 0 15px;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -1.5px;
  font-weight: 400;
}

.typography__tittle-h3 {
  box-sizing: border-box;
  width: 713px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
}

.typography__text-style {
  margin-bottom: 40px;
}

.typography__text-style-table {
  display: flex;
  flex-direction: column;
}

.typography__text-style-headline {
  align-self: flex-start;
  box-sizing: border-box;
  padding: 0 15px;
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
  margin-bottom: 30px;
}

.typography__text-style-subtitle {
  box-sizing: border-box;
  min-height: 90px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.typography__text-style-paragraph {
  box-sizing: border-box;
  min-height: 90px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.typography__text-style-name {
  box-sizing: border-box;
  width: 356px;
  padding: 0 15px;
  font-size: 20px;
  line-height: 30px;
  color: rgba(24, 25, 32, 0.5);
}

.typography__text-subtitle {
  box-sizing: border-box;
  width: 713px;
  padding: 0 15px;
  font-size: 20px;
  line-height: 30px;
  color: #181920;
}

.typography__text-paragraph {
  box-sizing: border-box;
  width: 713px;
  padding: 0 15px;
  font-size: 17px;
  line-height: 25px;
  color: #181920;
}

.typography__tech-style {
  margin-bottom: 40px;
}

.typography__tech-style-table {
  display: flex;
  flex-direction: column;
}

.typography__tech-style-headline {
  align-self: flex-start;
  box-sizing: border-box;
  padding: 0 15px;
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
  margin-bottom: 30px;
}

.typography__tech-style-link {
  box-sizing: border-box;
  min-height: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.typography__tech-style-auxiliary {
  box-sizing: border-box;
  min-height: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.typography__tech-style-label {
  box-sizing: border-box;
  min-height: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.typography__tech-style-name {
  box-sizing: border-box;
  width: 356px;
  padding: 0 15px;
  font-size: 20px;
  line-height: 30px;
  color: rgba(24, 25, 32, 0.5);
}

.typography__tech-link {
  box-sizing: border-box;
  width: 713px;
  padding: 0 15px;
}

.typography__tech-link-a {
  transition: all 0.1s ease;
  color: #2d52da;
  font-size: 20px;
  line-height: 30px;
}

.typography__tech-link-a:hover,
.typography__tech-link-a:focus {
  color: rgba(45, 82, 218, 0.75);
}

.typography__tech-auxiliary {
  box-sizing: border-box;
  width: 713px;
  padding: 0 15px;
  color: rgba(24, 25, 32, 0.5);
  font-size: 14px;
  line-height: 20px;
}

.typography__tech-label {
  box-sizing: border-box;
  width: 713px;
  padding: 0 15px;
  color: rgba(24, 25, 32, 0.5);
  font-size: 13px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.typography__span-style-table {
  display: flex;
  flex-direction: column;
}

.typography__span-style-headline {
  align-self: flex-start;
  box-sizing: border-box;
  padding: 0 15px;
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
  margin-bottom: 30px;
}

.typography__span-style-marker {
  box-sizing: border-box;
  min-height: 60px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.typography__span-style-link {
  box-sizing: border-box;
  min-height: 60px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.typography__span-style-name {
  box-sizing: border-box;
  width: 356px;
  padding: 0 15px;
  font-size: 20px;
  line-height: 30px;
  color: rgba(24, 25, 32, 0.5);
}

.typography__span-marker {
  box-sizing: border-box;
  width: 713px;
  padding: 0 15px;
  font-size: 20px;
  line-height: 30px;
  color: #181920;
}

.typography__span-uppercase {
  letter-spacing: 2px;
}

.typography__span-link {
  box-sizing: border-box;
  width: 713px;
  padding: 0 15px;
  font-size: 20px;
  line-height: 30px;
  color: #181920;
}

.typography__span-link-a {
  transition: all 0.1s ease;
  color: #2d52da;
  font-size: 20px;
  line-height: 30px;
}

.typography__span-link-a:hover,
.typography__span-link-a:focus {
  color: rgba(45, 82, 218, 0.75);
}

/*# sourceMappingURL=style.css.map */